name: Release package
on:
  create:
    tags:
      - "*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v2
        with:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
